In [25]:
import pandas as pd

data = pd.read_excel('./data/보행자사고 다발지역_2022.xlsx')
data

,시도,장소설명,Latitude,Longitude,사고건수,사상자수,사망자수,중상자수,경상자수,부상신고자수
0,서울 종로구1,서울 종로구 명륜2가(성균관대입구교차로 부근),37.582978,126.998773,10,13,1,11,1,0
1,서울 종로구2,서울 종로구 종로2가(로앤산부인과의원 종로점 부근),37.569848,126.986037,7,8,0,7,0,1
2,서울 종로구3,서울 종로구 창신동(동묘앞역교차로 부근),37.573246,127.016589,8,9,1,8,0,0
3,서울 종로구4,서울 종로구 숭인동(NH농협은행 신설동지점 부근),37.574440,127.021212,9,9,0,9,0,0
4,서울 중구1,서울 중구 신당동(약수역사거리 부근),37.551313,127.010984,9,12,1,9,2,0
...,...,...,...,...,...,...,...,...,...,...
129,서울 강동구1,서울 강동구 천호동(천호역 5호선 부근),37.537706,127.127289,9,10,0,9,1,0
130,서울 강동구2,서울 강동구 천호동(천호시장교차로 부근),37.540993,127.129689,8,9,0,8,1,0
131,서울 강동구3,서울 강동구 천호동(천사약국 부근),37.546373,127.133899,8,8,0,8,0,0
132,서울 강동구4,서울 강동구 천호동(천호초교입구교차로 부근),37.547068,127.134594,7,8,0,7,1,0
133,서울 강동구5,서울 강동구 길동(길동사거리 부근),37.534278,127.137501,7,7,0,7,0,0

In [26]:
data

,시도,장소설명,Latitude,Longitude,사고건수,사상자수,사망자수,중상자수,경상자수,부상신고자수
0,서울 종로구1,서울 종로구 명륜2가(성균관대입구교차로 부근),37.582978,126.998773,10,13,1,11,1,0
1,서울 종로구2,서울 종로구 종로2가(로앤산부인과의원 종로점 부근),37.569848,126.986037,7,8,0,7,0,1
2,서울 종로구3,서울 종로구 창신동(동묘앞역교차로 부근),37.573246,127.016589,8,9,1,8,0,0
3,서울 종로구4,서울 종로구 숭인동(NH농협은행 신설동지점 부근),37.574440,127.021212,9,9,0,9,0,0
4,서울 중구1,서울 중구 신당동(약수역사거리 부근),37.551313,127.010984,9,12,1,9,2,0
...,...,...,...,...,...,...,...,...,...,...
129,서울 강동구1,서울 강동구 천호동(천호역 5호선 부근),37.537706,127.127289,9,10,0,9,1,0
130,서울 강동구2,서울 강동구 천호동(천호시장교차로 부근),37.540993,127.129689,8,9,0,8,1,0
131,서울 강동구3,서울 강동구 천호동(천사약국 부근),37.546373,127.133899,8,8,0,8,0,0
132,서울 강동구4,서울 강동구 천호동(천호초교입구교차로 부근),37.547068,127.134594,7,8,0,7,1,0
133,서울 강동구5,서울 강동구 길동(길동사거리 부근),37.534278,127.137501,7,7,0,7,0,0

In [27]:
data['시도'] = data['시도'].str.replace('서울','')
data['시도'] = data['시도'].str.replace(r'\d+$', '', regex=True)

In [30]:
data = data.iloc[:, [0,1,2,3,4]]

In [32]:
print(data.isna().any().any())

False

In [33]:
# 2022년 보행자 사고 다발지역
data

       시도                          장소설명   Latitude   Longitude  사고건수
0     종로구     서울 종로구 명륜2가(성균관대입구교차로 부근)  37.582978  126.998773    10
1     종로구  서울 종로구 종로2가(로앤산부인과의원 종로점 부근)  37.569848  126.986037     7
2     종로구        서울 종로구 창신동(동묘앞역교차로 부근)  37.573246  127.016589     8
3     종로구   서울 종로구 숭인동(NH농협은행 신설동지점 부근)  37.574440  127.021212     9
4      중구          서울 중구 신당동(약수역사거리 부근)  37.551313  127.010984     9
..    ...                           ...        ...         ...   ...
129   강동구        서울 강동구 천호동(천호역 5호선 부근)  37.537706  127.127289     9
130   강동구        서울 강동구 천호동(천호시장교차로 부근)  37.540993  127.129689     8
131   강동구           서울 강동구 천호동(천사약국 부근)  37.546373  127.133899     8
132   강동구      서울 강동구 천호동(천호초교입구교차로 부근)  37.547068  127.134594     7
133   강동구           서울 강동구 길동(길동사거리 부근)  37.534278  127.137501     7

[134 rows x 5 columns]