In [2]:
import pandas as pd

data = pd.read_excel('./data/total_accident_info.xlsx')

In [3]:
data['시군구'] = data['시군구'].str.replace('서울특별시','')

In [4]:
data

,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,부상자수,사고유형,법규위반,도로형태
0,중구 충무로5가,경상사고,0,0,1,0,1,차대차 - 기타,안전운전불이행,단일로 - 기타
1,송파구 신천동,중상사고,0,2,0,0,2,차대사람 - 횡단중,보행자보호의무위반,단일로 - 기타
2,금천구 독산동,부상신고사고,0,0,0,1,1,차량단독 - 기타,안전운전불이행,단일로 - 기타
3,강동구 천호동,경상사고,0,0,2,0,2,차대차 - 측면충돌,안전운전불이행,단일로 - 기타
4,강남구 역삼동,중상사고,0,1,0,0,1,차대사람 - 기타,안전운전불이행,교차로 - 교차로안
...,...,...,...,...,...,...,...,...,...,...
33693,광진구 군자동,경상사고,0,0,1,0,1,차대차 - 기타,안전거리미확보,단일로 - 기타
33694,마포구 염리동,경상사고,0,0,1,0,1,차대차 - 추돌,안전운전불이행,단일로 - 기타
33695,중랑구 면목동,부상신고사고,0,0,0,1,1,차대차 - 측면충돌,차로위반,단일로 - 기타
33696,구로구 구로동,경상사고,0,0,1,0,1,차대차 - 측면충돌,안전운전불이행,교차로 - 교차로부근
33697,양천구 목동,경상사고,0,0,2,0,2,차대차 - 기타,안전운전불이행,교차로 - 교차로부근

In [5]:
data['자치구'] = data['시군구'].apply(lambda x: x.split()[0])

In [6]:
data = data.rename(columns={'시군구' : '동', '부상지수' : '사상자수'})

In [7]:
data['동'] = data['동'].apply(lambda x: x.split()[-1])

In [8]:
df = pd.DataFrame({'자치구' : data['자치구'], '동' : data['동'], '부상자수' : data['부상자수']})

In [9]:
df

       자치구      동  부상자수
0       중구  충무로5가     1
1      송파구    신천동     2
2      금천구    독산동     1
3      강동구    천호동     2
4      강남구    역삼동     1
...    ...    ...   ...
33693  광진구    군자동     1
33694  마포구    염리동     1
33695  중랑구    면목동     1
33696  구로구    구로동     1
33697  양천구     목동     2

[33698 rows x 3 columns]

In [10]:
df_sorted = df.sort_values(by='자치구')

In [11]:
df_sorted = df_sorted.reset_index(drop=True)
df_sorted

       자치구    동  부상자수
0      강남구  역삼동     3
1      강남구  개포동     1
2      강남구  신사동     1
3      강남구  개포동     1
4      강남구  청담동     3
...    ...  ...   ...
33693  중랑구  면목동     1
33694  중랑구  신내동     1
33695  중랑구  중화동     1
33696  중랑구  망우동     1
33697  중랑구  상봉동     1

[33698 rows x 3 columns]

In [12]:
separate_dfs = {name: group for name, group in df_sorted.groupby('자치구')}

In [13]:
separate_dfs['강남구']

      자치구    동  부상자수
0     강남구  역삼동     3
1     강남구  개포동     1
2     강남구  신사동     1
3     강남구  개포동     1
4     강남구  청담동     3
...   ...  ...   ...
3704  강남구  논현동     2
3705  강남구  논현동     2
3706  강남구  대치동     3
3707  강남구  신사동     2
3708  강남구  역삼동     1

[3709 rows x 3 columns]

In [14]:
re_df = separate_dfs['강남구'].groupby(['자치구', '동']).agg({'부상자수' : 'sum'}).reset_index()

re_df_gr = re_df.groupby('자치구').agg({'부상자수' : 'sum'}).reset_index()
re_df_gr['동'] = '합계'

fi_df = pd.concat([re_df, re_df_gr], ignore_index=True)

print(fi_df)

    자치구     동  부상자수
0   강남구   개포동   314
1   강남구   논현동   722
2   강남구   대치동   653
3   강남구   도곡동   334
4   강남구   삼성동   513
5   강남구   세곡동    64
6   강남구   수서동   157
7   강남구   신사동   454
8   강남구  압구정동   256
9   강남구   역삼동  1015
10  강남구   율현동    27
11  강남구   일원동   105
12  강남구   자곡동    60
13  강남구   청담동   394
14  강남구    합계  5068

In [15]:
# 모든 자치구에 대해 부상자수 합계를 계산하여 새로운 데이터프레임 생성
result_dfs = {}
for name, separate_df in separate_dfs.items():
    re_df = separate_df.groupby(['자치구', '동']).agg({'부상자수': 'sum'}).reset_index()
    re_df_gr = re_df.groupby('자치구').agg({'부상자수': 'sum'}).reset_index()
    re_df_gr['동'] = '합계'
    result_dfs[name] = pd.concat([re_df, re_df_gr], ignore_index=True)

# 결과 출력
for name, result_df in result_dfs.items():
    print(f"자치구: {name}")
    print(result_df)
    print("--------------------")

자치구: 강남구
    자치구     동  부상자수
0   강남구   개포동   314
1   강남구   논현동   722
2   강남구   대치동   653
3   강남구   도곡동   334
4   강남구   삼성동   513
5   강남구   세곡동    64
6   강남구   수서동   157
7   강남구   신사동   454
8   강남구  압구정동   256
9   강남구   역삼동  1015
10  강남구   율현동    27
11  강남구   일원동   105
12  강남구   자곡동    60
13  강남구   청담동   394
14  강남구    합계  5068
--------------------
자치구: 강동구
   자치구    동  부상자수
0  강동구  강일동   152
1  강동구  고덕동   150
2  강동구   길동   182
3  강동구  둔촌동   130
4  강동구  명일동   132
5  강동구  상일동   131
6  강동구  성내동   212
7  강동구  암사동   172
8  강동구  천호동   299
9  강동구   합계  1560
--------------------
자치구: 강북구
   자치구    동  부상자수
0  강북구  미아동   555
1  강북구   번동   255
2  강북구  수유동   433
3  강북구  우이동    29
4  강북구   합계  1272
--------------------
자치구: 강서구
    자치구     동  부상자수
0   강서구   가양동   168
1   강서구   개화동    83
2   강서구   공항동   105
3   강서구   과해동     6
4   강서구  내발산동   149
5   강서구   등촌동   252
6   강서구   마곡동   258
7   강서구   방화동   217
8   강서구   염창동   117
9   강서구   오곡동     5
10  강서구   오쇠동     3
11  강서구  외발산동    66
12  강서구   화곡동   694
13  강서구    합계  2123
--------------------
자치구: 관악구
   자치구    동  부상자수
0  관악구  남현동    70
1  관악구  봉천동   615
2  관악구  신림동   859
3  관악구   합계  1544
--------------------
자치구: 광진구
   자치구    동  부상자수
0  광진구  광장동    97
1  광진구  구의동   174
2  광진구  군자동   100
3  광진구   능동    36
4  광진구  자양동   256
5  광진구  중곡동   163
6  광진구  화양동   149
7  광진구   합계   975
--------------------
자치구: 구로구
    자치구     동  부상자수
0   구로구  가리봉동   114
1   구로구   개봉동   262
2   구로구   고척동   158
3   구로구   구로동   755
4   구로구    궁동    43
5   구로구  신도림동   128
6   구로구   오류동   165
7   구로구   온수동    19
8   구로구   천왕동    25
9   구로구    항동    34
10  구로구    합계  1703
--------------------
자치구: 금천구
   자치구    동  부상자수
0  금천구  가산동   306
1  금천구  독산동   502
2  금천구  시흥동   353
3  금천구   합계  1161
--------------------
자치구: 노원구
   자치구    동  부상자수
0  노원구  공릉동   490
1  노원구  상계동   732
2  노원구  월계동   311
3  노원구  중계동   240
4  노원구  하계동   146
5  노원구   합계  1919
--------------------
자치구: 도봉구
   자치구    동  부상자수
0  도봉구  도봉동   131
1  도봉구  방학동   181
2  도봉구  쌍문동   127
3  도봉구   창동   268
4  도봉구   합계   707
--------------------
자치구: 동대문구
     자치구     동  부상자수
0   동대문구  답십리동   236
1   동대문구   신설동    81
2   동대문구   용두동   227
3   동대문구   이문동   110
4   동대문구   장안동   397
5   동대문구   전농동   202
6   동대문구   제기동   223
7   동대문구  청량리동   113
8   동대문구   회기동    69
9   동대문구   휘경동   197
10  동대문구    합계  1855
--------------------
자치구: 동작구
   자치구     동  부상자수
0  동작구  노량진동   232
1  동작구   대방동   191
2  동작구   동작동   121
3  동작구    본동   120
4  동작구   사당동   264
5  동작구  상도1동    81
6  동작구   상도동   326
7  동작구  신대방동   204
8  동작구   흑석동   119
9  동작구    합계  1658
--------------------
자치구: 마포구
    자치구     동  부상자수
0   마포구   공덕동    47
1   마포구  노고산동    62
2   마포구   당인동     3
3   마포구   대흥동    39
4   마포구   도화동    91
5   마포구   동교동    97
6   마포구   마포동    30
7   마포구   망원동   156
8   마포구   상수동    30
9   마포구   상암동   173
10  마포구   서교동   172
11  마포구   성산동   180
12  마포구  신공덕동    17
13  마포구   신수동    30
14  마포구   신정동     2
15  마포구   아현동    35
16  마포구   연남동    36
17  마포구   염리동    26
18  마포구   용강동    14
19  마포구    중동    12
20  마포구   창전동    25
21  마포구   토정동    11
22  마포구   하중동     9
23  마포구   합정동   186
24  마포구   현석동    10
25  마포구    합계  1493
--------------------
자치구: 서대문구
     자치구      동  부상자수
0   서대문구   남가좌동   104
1   서대문구    냉천동    15
2   서대문구    대신동    36
3   서대문구    대현동    44
4   서대문구    미근동    31
5   서대문구    봉원동     1
6   서대문구   북가좌동   173
7   서대문구   북아현동    49
8   서대문구    신촌동    63
9   서대문구    연희동   192
10  서대문구    영천동    31
11  서대문구    옥천동     2
12  서대문구    창천동    77
13  서대문구    천연동     5
14  서대문구  충정로2가    12
15  서대문구  충정로3가    41
16  서대문구     합동     7
17  서대문구    현저동    41
18  서대문구    홍은동   213
19  서대문구    홍제동   171
20  서대문구     합계  1308
--------------------
자치구: 서초구
    자치구    동  부상자수
0   서초구  내곡동    71
1   서초구  반포동   607
2   서초구  방배동   527
3   서초구  서초동   998
4   서초구  신원동    32
5   서초구  양재동   494
6   서초구  염곡동    32
7   서초구  우면동    84
8   서초구  원지동   165
9   서초구  잠원동   389
10  서초구   합계  3399
--------------------
자치구: 성동구
    자치구      동  부상자수
0   성동구  금호동1가    23
1   성동구  금호동2가    21
2   성동구  금호동3가    33
3   성동구  금호동4가    63
4   성동구    도선동    20
5   성동구    마장동    80
6   성동구    사근동    24
7   성동구  상왕십리동    17
8   성동구  성수동1가   341
9   성동구  성수동2가   189
10  성동구    송정동    38
11  성동구    옥수동    67
12  성동구    용답동    38
13  성동구    응봉동    34
14  성동구  하왕십리동    68
15  성동구    행당동   146
16  성동구    홍익동    28
17  성동구     합계  1230
--------------------
자치구: 성북구
    자치구       동  부상자수
0   성북구     길음동   105
1   성북구     돈암동    77
2   성북구   동선동1가    22
3   성북구   동선동2가    22
4   성북구   동선동3가     9
5   성북구   동선동4가    27
6   성북구   동선동5가     5
7   성북구  동소문동1가    10
8   성북구  동소문동2가    13
9   성북구  동소문동3가    23
10  성북구  동소문동4가     8
11  성북구  동소문동5가    13
12  성북구  동소문동6가    13
13  성북구  동소문동7가     8
14  성북구   보문동1가    26
15  성북구   보문동2가    11
16  성북구   보문동3가     6
17  성북구   보문동4가     4
18  성북구   보문동5가     7
19  성북구   보문동6가     5
20  성북구   보문동7가    17
21  성북구   삼선동1가    20
22  성북구   삼선동2가     7
23  성북구   삼선동3가     7
24  성북구   삼선동4가    12
25  성북구   삼선동5가    22
26  성북구    상월곡동    31
27  성북구     석관동    92
28  성북구     성북동    35
29  성북구   성북동1가    13
30  성북구   안암동1가    12
31  성북구   안암동2가     8
32  성북구   안암동3가     8
33  성북구   안암동4가     4
34  성북구   안암동5가    44
35  성북구     장위동   138
36  성북구     정릉동   281
37  성북구     종암동   193
38  성북구    하월곡동   276
39  성북구      합계  1634
--------------------
자치구: 송파구
    자치구    동  부상자수
0   송파구  가락동   438
1   송파구  거여동   149
2   송파구  마천동   107
3   송파구  문정동   345
4   송파구  방이동   413
5   송파구  삼전동   120
6   송파구  석촌동   169
7   송파구  송파동   233
8   송파구  신천동   231
9   송파구  오금동   192
10  송파구  잠실동   685
11  송파구  장지동   274
12  송파구  풍납동   247
13  송파구   합계  3603
--------------------
자치구: 양천구
   자치구    동  부상자수
0  양천구   목동   566
1  양천구  신월동   526
2  양천구  신정동   445
3  양천구   합계  1537
--------------------
자치구: 영등포구
     자치구       동  부상자수
0   영등포구     당산동    80
1   영등포구   당산동1가    53
2   영등포구   당산동2가    38
3   영등포구   당산동3가    71
4   영등포구   당산동4가    54
5   영등포구   당산동5가    33
6   영등포구   당산동6가    46
7   영등포구     대림동   300
8   영등포구     도림동    52
9   영등포구   문래동1가    37
10  영등포구   문래동2가    19
11  영등포구   문래동3가    56
12  영등포구   문래동4가    14
13  영등포구   문래동5가    46
14  영등포구   문래동6가    25
15  영등포구     신길동   387
16  영등포구     양평동    22
17  영등포구   양평동1가    32
18  영등포구   양평동2가    32
19  영등포구   양평동3가   138
20  영등포구   양평동4가    90
21  영등포구   양평동5가    40
22  영등포구   양평동6가    65
23  영등포구     양화동    85
24  영등포구    여의도동   485
25  영등포구    영등포동    49
26  영등포구  영등포동1가    68
27  영등포구  영등포동2가    61
28  영등포구  영등포동3가    71
29  영등포구  영등포동4가    38
30  영등포구  영등포동5가    24
31  영등포구  영등포동6가    24
32  영등포구  영등포동7가    75
33  영등포구  영등포동8가    17
34  영등포구      합계  2727
--------------------
자치구: 용산구
    자치구      동  부상자수
0   용산구    갈월동    41
1   용산구    남영동    13
2   용산구    도원동     3
3   용산구   동빙고동    18
4   용산구    동자동     9
5   용산구    문배동     7
6   용산구    보광동    47
7   용산구    산천동     5
8   용산구    서계동    12
9   용산구   서빙고동    86
10  용산구    신계동     9
11  용산구    신창동     1
12  용산구    용문동    10
13  용산구  용산동1가    16
14  용산구  용산동2가    51
15  용산구  용산동3가     3
16  용산구  용산동4가     1
17  용산구  용산동5가    10
18  용산구  용산동6가    17
19  용산구  원효로1가    32
20  용산구  원효로2가    20
21  용산구  원효로3가    13
22  용산구  원효로4가    24
23  용산구    이촌동   126
24  용산구   이태원동   151
25  용산구    주성동     5
26  용산구    청암동     9
27  용산구  청파동1가    12
28  용산구  청파동2가    19
29  용산구  청파동3가    28
30  용산구  한강로1가    42
31  용산구  한강로2가    70
32  용산구  한강로3가    94
33  용산구    한남동   286
34  용산구    효창동    24
35  용산구    후암동    27
36  용산구     합계  1341
--------------------
자치구: 은평구
    자치구    동  부상자수
0   은평구  갈현동   174
1   은평구  구산동    59
2   은평구  녹번동    96
3   은평구  대조동   117
4   은평구  불광동   159
5   은평구  수색동    48
6   은평구  신사동   128
7   은평구  역촌동   113
8   은평구  응암동   189
9   은평구  증산동    69
10  은평구  진관동   113
11  은평구   합계  1265
--------------------
자치구: 종로구
    자치구    동  부상자수
0   종로구  가회동     6
1   종로구  견지동     4
2   종로구  경운동    11
3   종로구   계동    12
4   종로구  공평동    13
..  ...  ...   ...
79  종로구   화동     3
80  종로구  효자동     1
81  종로구  효제동     7
82  종로구  훈정동     1
83  종로구   합계  1354

[84 rows x 3 columns]
--------------------
자치구: 중구
   자치구       동  부상자수
0   중구   광희동2가     8
1   중구  남대문로1가     2
2   중구  남대문로2가    13
3   중구  남대문로3가    18
4   중구  남대문로4가    27
..  ..     ...   ...
66  중구   회현동1가    25
67  중구   회현동2가    11
68  중구   회현동3가     1
69  중구     흥인동    26
70  중구      합계  1214

[71 rows x 3 columns]
--------------------
자치구: 중랑구
   자치구    동  부상자수
0  중랑구  망우동   256
1  중랑구  면목동   665
2  중랑구   묵동   150
3  중랑구  상봉동   367
4  중랑구  신내동   223
5  중랑구  중화동   239
6  중랑구   합계  1900
--------------------

In [16]:
# 2022년 총 교통사고 수
# 자치구 이름을 키값으로 '동'별 부상자수를 구했습니다.
result_dfs.keys()

dict_keys(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'])

In [17]:
result_dfs['강남구']

    자치구     동  부상자수
0   강남구   개포동   314
1   강남구   논현동   722
2   강남구   대치동   653
3   강남구   도곡동   334
4   강남구   삼성동   513
5   강남구   세곡동    64
6   강남구   수서동   157
7   강남구   신사동   454
8   강남구  압구정동   256
9   강남구   역삼동  1015
10  강남구   율현동    27
11  강남구   일원동   105
12  강남구   자곡동    60
13  강남구   청담동   394
14  강남구    합계  5068